.main-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    background-color: white;
    border: none;
}

.form-container {
    border-radius: 10px;
    background: linear-gradient(145deg, #ffff, #ffff);
    box-shadow: 5px 5px 19px rgb(167, 162, 162),
        -5px -5px 19px #ffff;
    padding: 50px;
    width: 500px;
}

.form-container input {
    display: block;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgb(145, 142, 142);
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.form-container input[type=submit]:hover {
    outline: none;
    background-color: rgb(89, 101, 239);
    color: white;
}

.link-btn {
    text-decoration: none;
}