.myItems-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* media query */
@media only screen and (max-width: 600px) {
    .myItems-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

/*  */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .myItems-container {
        grid-template-columns: repeat(2, 1fr);
    }
}