.add-products {
    width: 600px;
}

.add-products input,
.add-products textarea {
    width: 500px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    outline: 1px solid rgb(233, 232, 232);
    border: none;
}

.add-products input[type=submit] {
    margin-top: 18px;
}

.add-products input[type=submit]:hover {
    outline: none;
    background-color: rgb(89, 101, 239);
    color: white;
}

/* media query */
@media only screen and (max-width: 600px) {
    .add-products {
        width: 300px;
    }

    .add-products input,
    .add-products textarea {
        width: 210px;
        font-size: 14px;
        padding: 8px;
        margin-top: 5px;
        border-radius: 5px;
        outline: 1px solid rgb(233, 232, 232);
        border: none;
    }
}



/*  */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .blogs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}