.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blogs {
    border: 1px solid rgb(227, 226, 226);
    padding: 20px;
    border-radius: 10px;
}

/* media query */
@media only screen and (max-width: 600px) {
    .blogs-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

/*  */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .blogs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}